<link href="/styles/dashboard.css" rel="stylesheet">
<script src="http://cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
<link charset="utf-8" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="/styles/flat.min.css" rel="stylesheet">

<% include parts/navbar.ejs %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <% include parts/blogSidebar.ejs %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <!-- Main content -->
      <h1 class="page-header">Add Blog Post
        <div class="pull-right">
          <a class="btn btn-success btn-md" id="addBlogButton">Add Blog Post</a>
        </div>
      </h1>

      <br/>
      <form class="form-group">
        <h1><input class="form-control" id="title" placeholder="Title"></h1>
      </form>
      <br/>
      <div class="editable" data-medium-focused="true"></div>
      <script>
        var editor = new MediumEditor('.editable', {
          toolbar: {
            /* These are the default options for the toolbar,
                     if nothing is passed this is what is used */
            allowMultiParagraphSelection: true,
            buttons: [
              'bold', 'italic', 'underline', 'anchor', 'h1', 'h2', 'h3', 'quote'
            ],
            diffLeft: 0,
            diffTop: -10,
            firstButtonClass: 'medium-editor-button-first',
            lastButtonClass: 'medium-editor-button-last',
            standardizeSelectionStart: false,
            static: false,

            /* options which only apply when static is true */
            align: 'center',
            sticky: false,
            updateOnEmptySelection: false
          },
          spellcheck: true,
          placeholder: {
            text: "Write your post here"
          }
        });
      </script>

    </div>
  </div>
</div>
