<link href="/styles/dashboard.css" rel="stylesheet">

<% include parts/navbar.ejs %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <% include parts/blogSidebar.ejs %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <!-- Main content -->
      <h1 class="page-header">Blog
        <div class="pull-right">
          <a href="/add-blog" class="btn btn-success btn-md">Add Blog Post</a>
        </div>
      </h1>
      <% if (blogs.length == 0) { %>
      <center>
        <br />
        <a href="/add-blog" class="btn btn-success btn-lg">Add Blog Post</a>
      </center>
      <% } else { %>
        <% for (var i = 0; i < blogs.length; i++) { %>
          <h2><%= blogs[i].title %> <a href="#" class="pull-right btn btn-md btn-primary">Edit</a></h2>
          <h4>By <strong><%= blogs[i].author %></strong> | <%= blogs[i].lastUpdated %></h4>
          <br />
          <p><%- blogs[i].contents %></p>
        <% } %>
      <% } %>
  </div>
</div>
</div>
