<link rel="stylesheet" href="/styles/dashboard.css">

<% include parts/navbar.ejs %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <% include parts/sidebar.ejs %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <!-- Main content -->
      <h1 class="page-header">Broadcasts <div class="pull-right"><a class="btn btn-md btn-success">Add Broadcast</a></div></h1>
      <% if (broadcasts.length > 0) { %>
        <%= broadcasts.length %>
        <% for (var i = 0; i < broadcasts.length; i++) { %>
          <%= broadcasts[i].title %>
        <% } %>
      <% } else { %>
        <center><h1 style="margin-top: 50px; font-weight: 300;">No Broadcasts</h1></center>
      <% } %>
    </div>
  </div>
</div>
