<link rel="stylesheet" href="/styles/dashboard.css">

<% include parts/navbar.ejs %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <% include parts/sidebar.ejs %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <!-- Main content -->
      <h1 class="page-header">Broadcasts <div class="pull-right"><button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#addBroadcastModal">
  Add Broadcast
</button>
</div></h1>
      <% if (broadcasts.length > 0) { %>
        <%= broadcasts.length %>
        <% for (var i = 0; i < broadcasts.length; i++) { %>
          <%= broadcasts[i].title %>
        <% } %>
      <% } else { %>
        <center><h1 style="margin-top: 50px; font-weight: 300;">No Broadcasts</h1></center>
        <br />
        <center><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addBroadcastModal">
    Add Broadcast
  </button></center>
      <% } %>
    </div>
  </div>
</div>


<div class="modal fade" id="addBroadcastModal" tabindex="-1" role="dialog" aria-labelledby="broadcastModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="broadcastModalLabel">Add Broadcast</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date">
          </div>
          <div class="form-group">
            <label for="summary">Summary</label>
            <textarea id="summary" class="form-control" rows="3" placeholder="Summary"></textarea>
          </div>
          <div class="form-group">
            <label for="embedCode">Embed Code</label>
            <textarea id="embedCode" class="form-control" rows="3" placeholder="Embed Code"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="addBroadcastButton" type="button" class="btn btn-success">Add Broadcast</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/pages/editBroadcast.js"></script>
