<link rel="stylesheet" href="/styles/dashboard.css">

<% include parts/navbar.ejs %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <% include parts/sidebar.ejs %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <!-- Main content -->
      <h1 class="page-header">Overview</h1>
      <br />
      <br />
      <center><h3><a href="https://www.google.com/analytics/">Google Analytics Support</a> for Page Views coming soon</h3></center>
    </div>
  </div>
</div>
