<link rel="stylesheet" href="/styles/login.css">
<script src="/js/pages/adminLogin.js"></script>

<div class="background">
  <div class="container">
    <div class="login-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="title">
            <h1>Log In</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="body">
            <label for="email">Email</label>
            <div class="input-group">
              <span class="input-group-addon" id="email-addon">@</span>
              <input type="email" class="form-control" id="email" placeholder="email@example.com" aria-describedby="email-addon">
            </div>
            <label for="password">Password</label>
            <div class="input-group">
              <span class="input-group-addon" id="password-addon"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" id="password" placeholder="******" aria-describedby="password-addon">
            </div>
            <a id="loginButton" style="margin-top: 10px; margin-bottom: 10px;" class="btn btn-block btn-success">Log In</a>
            <center>
              <small><a href="/create-account">Create an Account</a></small>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
