<link rel="stylesheet" href="/styles/dashboard.css">

<% include parts/navbar.ejs %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 main">
      <!-- Main content -->
      <h1 class="page-header">Settings</h1>
      <form>
        <div class="input-group">
          <label for="firstName">First Name</label>
          <input class="form-control" type="text" value="<%= user.firstName %>" id="firstName">
        </div>
        <div class="input-group">
          <label for="lastName">Last Name</label>
          <input class="form-control" type="text" value="<%= user.lastName %>" id="lastName">
        </div>
        <div class="input-group">
          <label for="username">Email</label>
          <input class="form-control" type="email" value="<%= user.username %>" id="username">
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" placeholder="********" id="password">
        </div>
        <div class="input-group">
          <label for="password-confirmation">Confirm Password</label>
          <input class="form-control" type="password" placeholder="********" id="password-confirmation">
        </div>
      </form>
    </div>
  </div>
</div>
