<link rel="stylesheet" href="/styles/dashboard.css">

<script src="/js/pages/settings.js"></script>
<% include parts/navbar.ejs %>

<div class="container-fluid">
  <div class="row">
    <div class="main">
      <!-- Main content -->
      <h1 class="page-header">Settings</h1>
      <div class="col-lg-6">
        <form>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" value="<%= user.firstName %>" id="firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" value="<%= user.lastName %>" id="lastName">
          </div>
          <div class="form-group">
            <label for="username">Email</label>
            <input class="form-control" type="email" value="<%= user.username %>" id="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" placeholder="********" id="password">
          </div>
          <div class="form-group">
            <label for="password-confirmation">Confirm Password</label>
            <input class="form-control" type="password" placeholder="********" id="password-confirmation">
          </div>
          <a id="saveUserButton" class="btn btn-success btn-md">Save</a>
        </form>
      </div>
    </div>
  </div>
</div>
