<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/styles/error.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container">
      <div class="col-lg-12">
        <div class="header">
          <h1>403</h1>
          <h2>You do not have permission to access this page.</h2>
          <center>
            <a href="#" id="goBackButton" onclick="history.go(-1);" class="btn btn-lg btn-default btn-return">Go Back</a>
          </center>
        </div>
      </div>
    </div>
  </body>
</html>
