<ul class="nav nav-sidebar">
  <li <% if (currentSidebar == "allBlogs") { %> class="active"<% } %>>
    <a href="/blog-settings">Overview
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <li <% if (currentSidebar == "addBlog") { %> class="active"<% } %>>
    <a href="/add-blog">Add Blog Post</a>
  </li>
</ul>
