<ul class="nav nav-sidebar">
  <li <% if (currentSidebar == "overview") { %> class="active"<% } %>>
    <a href="/dashboard">Overview
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <li <% if (currentSidebar == "broadcasts") { %> class="active"<% } %>>
    <a href="/broadcasts">Broadcasts</a>
  </li>
  <li <% if (currentSidebar == "about-settings") { %> class="active"<% } %>>
    <a href="/about-settings">About Page</a>
  </li>
</ul>
