<ul class="nav nav-sidebar">
  <li class="active">
    <a href="#">Overview
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <li>
    <a href="#">Broadcasts</a>
  </li>
  <li>
    <a href="#">About Page</a>
  </li>
</ul>
