<% include parts/depend %>
<% include parts/navbar %>

<div class="small-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>About <strong>Suns Talk Radio</strong></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1>Here is some text</h1>
    <h3>Here is some subtext</h3>
    <p>They are going to have to use markdown... Too bad, so sad.</p>
  </div>
</div>
