body {
  background-color: #391366;
  color: #fff;
}

.login-box {
  margin-top: 100px;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50%;
  margin-left: 24%;
  padding-left: 50px;
  padding-right: 50px;
}

.login-box .body {
  /*width: 50%;*/
  padding-left: 25px;
  padding-right: 25px;
}

.login-box .title {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
  /*width: 75%;*/
}

label {
    color: #000;
    text-align: left;
    margin-bottom: 0px;
}
